body{
	font-size: 13px;
	font-family:tahoma;
	margin:0px;
}

td,th{
border: 1px solid #333;
background-color:#ddd;
line-height: 20px;
verticle-align: middle !important;
}
tr:nth-of-type(odd) {
	background-color:red;
}
.footer{
	
}
    .hilight{
    	color: blue;
    	font-weight: bold;
    }
    .hilight2{
    	color: red;
    	font-weight: bold;
    }
